:root {
  /* Primary Colors */
  --light_red: hsl(0, 100%, 96%);
  --orangey_yellow: hsl(39, 100%, 56%);
  --green_teal: hsl(166, 100%, 37%);
  --cobalt_blue: hsl(234, 85%, 45%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 96%);
  --dark_gray_blue: hsl(224, 30%, 27%);

  /* Gradients */
  --light_slate_blue_background: hsl(252, 100%, 67%);
  --light_royal_blue_background: hsl(241, 81%, 54%);

  --violet_blue_circle: hsla(256, 72%, 46%, 1);
  --violet_blue_circle_low: hsla(256, 72%, 90%, 0);
  --persian_blue_circle: hsla(241, 72%, 46%, 0);

  /* Border Radius */
  --border-radius: 2.625rem;
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
}

.btn {
  color: var(--light_lavender);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  background: var(--dark_gray_blue);
  padding: 1rem 2rem;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.results-summary {
  /* --border-radius: 2rem; */
  --padding: 2.5rem;
  display: flex;
  justify-self: flex-start;
  max-width: 50rem;
  display: grid;
  font-family: "Hanken Grotesk", sans-serif;
}

.available {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  right: 32px;
  bottom: 25px;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.2s ease-out;
}

.available i {
  color: #1E3050;
}

.results-summary:hover {
  transform: translateX(-10px) translateY(-10px);
  box-shadow: 0.5rem 1rem 0rem rgba(0, 0, 0, 0.3);
}

.results-summary:hover .available {
  opacity: 1;
  transform: translateY(0);
}

.results-summary:hover .event-details:nth-child(2) > i,
.results-summary:hover .event-details:nth-child(2) > p {
  opacity: 0;
  transform: translateY(-8px);
}


.results {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  color: var(--light_lavender);
  text-align: center;
  padding: var(--padding) calc(var(--padding) * 1.5);
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  /* border-radius: 0 0 var(--border-radius) var(--border-radius); */
}

.result-score {
  display: grid;
  font-size: 2rem;
  place-content: center;
  width: 12rem;
  margin-inline: auto;
  background: linear-gradient(
    180deg,
    var(--violet_blue_circle),
    var(--violet_blue_circle_low)
  );
  aspect-ratio: 1 /1;
  border-radius: 50%;
  color: var(--white);
}

.result-score span {
  display: block;
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  color: var(--white);
}

.summary {
  position: relative;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.description {
  font-size: 1.5rem;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details p {
  font-size: 1.5rem;
}

.details .event-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s ease-in;
}

.details div i {
  color: #1E3050;
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .results-summary {
    display: flex;
    margin-inline: auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: all 0.2s;
    border: rgba(0, 0, 0, 0.3);
    box-shadow: 0.5rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
  }

  
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.register-button {
  position: absolute;
  padding: 1.5rem;
  bottom: 0rem;
  left: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.register-button:hover {
  transform: translateX(-5px) translateY(-5px);
}

.register-button:active {
  transform: none;
}

