{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "event_management/styles.css" %}" />
    <link rel="stylesheet" href="{% static "event_management/event-card.css" %}" />
    <title>{% block page_title %}Title{% endblock page_title %}</title>
  </head>
  <body>
    {% block content %}
    <h1>Body Content</h1>
    {% endblock content %}
  </body>
</html>
