<div class="results-summary">
    <div class="results" data-spacing="large">
      <p class="result-score"><span>{{event.formatted_datetime.date}}</span> {{event.formatted_datetime.month}}</p>
      {% if not is_registered %}
        <form action="{% url 'event_registration' event.event.id %}" method="POST">
          {% csrf_token %}
          <button class="register-button">Register</button>
        </form>
      {% endif %}
    
    </div>
    <div class="summary">
      <h2 class="section-title">{{event.event.title}}</h2>
      <p class="description">{{event.event.description}}</p>
      <div class="details">
        <div class="event-details">
          <i class="fa-regular fa-clock fa-xl"></i>
          <p>{{event.formatted_datetime.time}}</p>
        </div>
        <div class="event-details">
          <i class="fa-solid fa-people-group fa-xl"></i>
          <p>{{event.event.max_slots}}</p>    
        </div>
      </div>
      <div class="available">
        <i class="fa-solid fa-user-group fa-xl"></i><span>{{event.event.available_slots}}</span>
      </div>
    </div>
  </div>
