{% extends "base.html" %}  {% block page_title %}Signup
{%endblock page_title %} {% block content %}
<div class="login-root">
  <div
    class="box-root flex-flex flex-direction--column"
    style="min-height: 100vh; flex-grow: 1"
  >
    <div
      class="box-root padding-top--24 flex-flex flex-direction--column"
      style="flex-grow: 1; z-index: 9"
    >
      <div
        class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center"
      >
        <h1 class="form-title">Signup</h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <form action="/signup" method="POST" id="stripe-login">
              {% csrf_token %}
              <div class="user-full-name-input">
                <div class="field padding-bottom--24">
                  <label class="input-label" for="firstname">First Name</label>
                  <input type="text" name="firstname" required />
                </div>
                <div class="field padding-bottom--24">
                  <label class="input-label" for="lastname">Last Name</label>
                  <input type="text" name="lastname" required />
                </div>
              </div>
              <div class="field padding-bottom--24">
                <label class="input-label" for="username">Username</label>
                <input type="text" name="username" required />
                {% if messages %}
                      {% for message in messages %}
                          {% if 'duplicate_username' in message.tags %}
                              <p class="erro-message">{{ message }}</p>
                          {% endif %}
                      {% endfor %}
                {% endif %}

              </div>
              <div class="field padding-bottom--24">
                <label class="input-label" for="email">Email</label>
                <input type="email" name="email" required />
              </div>
              <div class="field padding-bottom--24">
                <label class="input-label" for="password">Password</label>
                <input type="password" name="password" required  />
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Signup" />
              </div>
              <div class="field padding-bottom--24">
                <p>Already an user? <a href="/login">Login</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
